/* Eliminar padding y margin en React Native Web */
html body #root {
  padding: 0 !important;
  margin: 0 !important;
  /* max-width: 100vw !important; */
  scrollbar-width: none;
  overflow-y: scroll;
}
/* Eliminar borde negro de TextInput y Picker en focus en React Native Web */
textarea:focus,
input:focus,
select:focus,
.css-textinput-11aywtz:focus, .css-text-146c3p1:focus {
  outline: none !important;
  box-shadow: none !important;
}
