/* Eliminar borde negro de TextInput en focus en React Native Web */
textarea:focus,
input:focus,
.css-textinput-11aywtz:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}